.notifications-container {
  position: absolute;
  right: 30px;
  top: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}


.notification-container {
  margin: 10px 0;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #97bf11;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  shape-outside: 1px 1px 5pc 0 black;
  width: 100%;
}

.closebtn {
  padding: 2px;
}

.message {
  color: #97bf11;
}