@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

@font-face {
  font-family: navbarLinks;
  src: url('./Fonts/PassionOne-Regular.ttf');
}

html {
  height: 100vh;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(#8db300ed, #8db300ed), url("https://media.istockphoto.com/photos/illustration-of-generic-sports-coupe-car-on-white-picture-id1003904064?k=20&m=1003904064&s=612x612&w=0&h=qjMmK0xlPn7GLOefECHBNI0VWccVlLK7xo8vuIBw5uM=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.border-red {
  border: 1px solid red;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(252, 252, 252, 0);
}

::-webkit-scrollbar-thumb {
  background: #97bf11;
}

::-webkit-scrollbar-thumb:hover {
  background: #009ee2;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.page-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.bg-session {
  height: 100vh;
  background-image: linear-gradient(#8db300ed, #8db300ed), url(https://media.istockphoto.com/photos/illustration-of-generic-sports-coupe-car-on-white-picture-id1003904064?k=20&m=1003904064&s=612x612&w=0&h=qjMmK0xlPn7GLOefECHBNI0VWccVlLK7xo8vuIBw5uM=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-dark-transparent {
  background-color: rgb(255 255 255 / 22%);
}

.navbar {
  height: 100vh;
  max-width: 20%;
  min-width: 20%;
  width: 100%;
  font-family: 'navbarLinks', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-right: 1px solid #97bf11;
  background-color: #fff;
  z-index: 900;
}

.active,
.active:visited {
  background-color: #97bf11;
  color: white;
  font-style: unset;
}

.nav-link {
  color: black;
  border-radius: 10px 0 0 10px;
}

.nav-link:hover {
  background-color: #97bf11;
  color: #fff;
}

.menuIcon {
  width: 35px;
}

.log-out:hover,
.log-out button:hover {
  background-color: red;
  border-radius: 10px 0 0 10px;
  color: white;
}

.nav-icons {
  width: 20px;
  margin: 0 0 10px 0;
}

.home {
  max-width: 80%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.home-left {
  background-color: #97bf11;
  border: 0;
  color: #fff;
  font-weight: 900;
  border-radius: 0 35px 35px 0;
  padding: 20px 0 22px 15px;
  width: 60px;
}

.home-left:hover {
  box-shadow: 0 0 10px 0 #97bf11;
}

.home-left-disabled {
  background-color: #525252;
  border: 0;
  color: #fff;
  font-weight: 900;
  border-radius: 0 35px 35px 0;
  padding: 20px 0 22px 15px;
  width: 60px;
}

.phone-left {
  display: none;
}

.phone-left-disabled {
  display: none;
}

.home-rigth {
  background-color: #97bf11;
  border: 0;
  color: #fff;
  font-weight: 900;
  border-radius: 35px 0 0 35px;
  padding: 20px 15px 22px 0;
  width: 60px;
}

.home-rigth-disabled {
  background-color: #525252;
  border: 0;
  color: #fff;
  font-weight: 900;
  border-radius: 35px 0 0 35px;
  padding: 20px 15px 22px 0;
  width: 60px;
}

.home-rigth:hover {
  box-shadow: 0 0 10px 0 #97bf11;
}

.phone-rigth {
  display: none;
}

.phone-rigth-disabled {
  display: none;
}

.arrowicon {
  width: 25px;
  height: 15px;
}

.arrowicon-inverse {
  width: 25px;
  height: 15px;
  transform: rotate(-180deg);
}

.log-btn {
  color: #97bf11;
  background-color: #fff;
  border-color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px 40px;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.log-input {
  border-radius: 30px;
  color: #fff;
  background-color: #97bf11;
  border: solid 1px #fff;
  padding: 10px 5px;
  font-family: Arial, sans-serif;
}

.car-icons {
  width: 25px;
  margin: 5px;
  border: 1px solid #7e7e7e;
  border-radius: 50%;
  padding: 5px;
}

.dotIndicator {
  background-color: rgb(128, 128, 128);
  width: 10px;
  height: 10px;
  margin: 0 2px 0 2px;
  border-radius: 50%;
}

.dotActive {
  border: 10px solid #97bf11;
  background-color: #97bf11;
  width: 10px;
  height: 10px;
  margin: 0 3px 0 3px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .navbar {
    max-width: 100%;
    width: 100%;
    max-height: 70px;
    background-color: #97bf11;
    border: 0;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

  .nav-link {
    color: #000;
  }

  .active {
    background-color: #fff;
    color: #97bf11;
  }

  .home {
    max-width: 100%;
    width: 100%;
  }

  .home-left {
    display: none;
  }

  .home-left-disabled {
    display: none;
  }

  .home-rigth {
    display: none;
  }

  .home-rigth-disabled {
    display: none;
  }

  .phone-left {
    display: block;
    background-color: #97bf11;
    border: 0;
    color: #fff;
    font-weight: 900;
    border-radius: 0 35px 35px 0;
    padding: 20px 0 22px 0;
    width: 40px;
  }

  .phone-left-disabled {
    display: block;
    background-color: #525252;
    border: 0;
    color: #fff;
    font-weight: 900;
    border-radius: 0 35px 35px 0;
    padding: 20px 0 22px 0;
    width: 40px;
  }

  .phone-rigth {
    display: block;
    background-color: #97bf11;
    border: 0;
    color: #fff;
    font-weight: 900;
    border-radius: 35px 0 0 35px;
    padding: 20px 0 22px 0;
    width: 40px;
  }

  .phone-rigth-disabled {
    display: block;
    background-color: #525252;
    border: 0;
    color: #fff;
    font-weight: 900;
    border-radius: 35px 0 0 35px;
    padding: 20px 0 22px 0;
    width: 40px;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}
