@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
}

.subtitle {
  font-size: 0.8rem;
}
