@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #97bf11;
  margin-top: 15px;
}

.list {
  list-style: none;
  padding: 0 10%;
  margin: 0;
  width: 100%;
  overflow-y: auto;
}

.subtitle {
  font-size: 0.8rem;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 #b6b6b687;
  margin: 15px 0;
  padding: 15px;
  align-items: center;
}

.card p {
  margin: 0;
}

.carImg {
  width: 70%;
  border-radius: 15px;
}

.carName {
  font-weight: bold;
  color: #818181;
}

.carModel {
  font-weight: bold;
  font-size: 1.6rem;
}

.lefftInfo {
  text-align: left;
  padding-left: 35px;
}

.city {
  color: #97bf11;
}

.rightInfo {
  border-left: solid 1px;
  color: #b5b5b5;
  height: 60%;
  margin-left: 25px;
  text-align: left;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date {
  color: black;
  font-weight: bold;
}

.button {
  background-color: #97bf11;
  color: #fff;
  border: 1px solid #97bf11;
  border-radius: 5px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }

  .carImg {
    width: 50%;
    margin-bottom: 10px;
  }

  .lefftInfo {
    grid-area: 2 / 1 / 2 / 3;
    font-size: 0.9rem;
    padding: 15px;
    text-align: center;
  }

  .rightInfo {
    grid-area: 3 / 1 / 3 / 3;
    margin: 0;
    text-align: center;
    padding: 15px;
    border: none;
  }

  .imageContainer {
    grid-area: 1 / 1 / 2 / 3;
  }
}
