@font-face {
  font-family: carFont;
  src: url('../../Fonts/PassionOne-Regular.ttf');
}

* {
  font-family: carFont, Arial, Helvetica, sans-serif;
}

.ReserveBtn {
  background-color: #97bf11;
  border: 0;
  border-radius: 35px;
  color:#ffffff;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
}

.button-container p {
  color: #97bf11;
}

.Btnicon {
  width: 30px;
  margin-left: 20px;
}

.backBtn {
  position: absolute;
  left: 0;
  top: 80%;
  background-color: #97bf11;
  border: 0;
  border-radius: 0 30px 30px 0;
  padding: 15px 20px 15px 20px;
}

.show-car {
  width: 100%;
  top: 0;
  bottom: 0;
  animation-name: showCar;
  animation-duration: 1s;
}

.hide-car {
  width: 100%;
  top: 0;
  bottom: 0;
  animation-name: hideCar;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hideCar {
  0% {
    left: 0;
    border-left: 1px solid #97bf11;
  }
  100% {
    left: 100%;
    display: none;
  }
}

@keyframes showCar {
  0% {
    left: 100%;
    border-left: 1px solid #97bf11;
  }

  99% {
    border-left: 1px solid #97bf11;
  }

  100% {
    left:0;
    border: 0;
  }
}

@media (max-width: 768px) {
  .backBtn {
    position: absolute;
    left: 0;
    top: 40%;
    background-color: #97bf11;
    border: 0;
    border-radius: 0 30px 30px 0;
    padding: 15px 0 15px 0;
    width: 50px;
  }

  .Btnicon {
    margin: 0 0 0 0;
  }
}

.display-car-test {
  border: 1px solid green;
}
